node_modules/
dist/
build/
.env.local
.env.*.local
*.log
.DS_Store
.vscode/
.idea/
.cache/
.parcel-cache/
.next/
out/
.nuxt/
.cache/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
*.tsbuildinfo
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
